html {
  font-family: Merriweather, serif;
}

.company-name {
  color: #286819;
}

.nav {
  position: relative;
  text-align: right;
  background-color: #fff;
  z-index: 2;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
  color: #286819;
}

.nav a:focus {
  outline: 3px solid #000;
}

.masthead {
  background-color: #bcbcbc;
}

.banner {
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  max-width: 45em;
}

.banner-logo {
  float: left;
  width: 35%;
  padding-right: 1em;
}

.banner-info {
  padding-right: 1em;
  float: right;
  width: 60%;
}

h2 {
  margin: 0;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  padding-top: 1rem;
  margin: 0;
}

nav a,
.btn {
  padding: .4em .75em .3em;
  border: 3px solid #333;
  display: inline-block;
  background-color: #286819;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-top: 1em;
}

#current {
  background-color: #fff;
  color: #286819;
}

main button:focus,
main button:hover,
main .btn:focus,
main .btn:hover {
  background-color: #000;
  outline: 6px solid #000;
  color: #286819;
}

nav a:hover {
  background-color: #fff;
  color: #286819;
  border-color: #000;
}

footer {
  background-color: #fff;
}

.plans {
  background-color: #fff;
  border: 1px solid #000;
}

.background {
  background-color: #bcbcbc;
}

.box {
  background-color: #286819;
  height: 60px;
  width: 100%;
}

.box-1-2 {
  background-color: #286819;
  width: 50%;
}

.about-us {
  color: #fff;
}

.support-type {
  color: #fff;
}
